*.pyc
datasets/archived/
datasets/archived
datasets/clean
datasets/raw
datasets/references
*.save
.venv/
datasets/clean/
datasets/clean/*
*pyc
*__pycache__*
db/stats/__pycache__/chapter.cpython-36.pyc
db/stats/__pycache__/classroom.cpython-36.pyc
db/stats/__pycache__/confusion.cpython-36.pyc
db/stats/__pycache__/dataset.cpython-36.pyc
db/stats/__pycache__/day.cpython-36.pyc
db/stats/__pycache__/decision.cpython-36.pyc
db/stats/__pycache__/digits.cpython-36.pyc
db/stats/__pycache__/__init__.cpython-36.pyc
db/stats/__pycache__/lesson.cpython-36.pyc
db/stats/__pycache__/stats.cpython-36.pyc
db/stats/__pycache__/subject.cpython-36.pyc
db/stats/__pycache__/syllabs.cpython-36.pyc
db/stats/__pycache__/tag.cpython-36.pyc
db/stats/__pycache__/words.cpython-36.pyc
db/steps/__pycache__/clean.cpython-36.pyc
db/steps/__pycache__/download.cpython-36.pyc
db/steps/__pycache__/__init__.cpython-36.pyc
db/steps/__pycache__/init.cpython-36.pyc
db/steps/__pycache__/insert.cpython-36.pyc
db/steps/__pycache__/_settings.cpython-36.pyc
db/steps/__pycache__/step_clean.cpython-36.pyc
db/steps/__pycache__/step_download.cpython-36.pyc
db/steps/__pycache__/step_insert.cpython-36.pyc
db/steps/__pycache__/step_stats.cpython-36.pyc
db/tests/__pycache__/*
db/stats/__pycache__
db/statst/__pycache__/*
*.py[oc]
*.pyc]
*.__pycache*
db/__pycache__/args.cpython-36.pyc
db/__pycache__/config.cpython-36.pyc
db/__pycache__/_settings.cpython-36.pyc
db/__pycache__/utils_csv.cpython-36.pyc
db/__pycache__/utils_db.cpython-36.pyc
db/__pycache__/utils_file.cpython-36.pyc
db/__pycache__/utils_report.cpython-36.pyc
api/__pycache__/utils_file.cpython-36.pyc
tests/__pycache__/_settings_local.cpython-36.pyc
tests/__pycache__/_settings_test.cpython-36.pyc
admin/logs/
admin/logs/insert.log
admin/logs/insert.log.1
admin/logs/run.log
admin/logs/run.log.1
db/stats/__pycache__/admin_update.cpython-36.pyc
db/stats/__pycache__/main.cpython-36.pyc
logs/api.admin.log
logs/celery.log
logs/db.stats.log
logs/db.stats.log.1
logs/db.steps.log
logs/db.steps.log.1
logs/init.log
logs/insert.log
logs/insert.log.1
logs/run.log
logs/run.log.1
logs/stats.main.log
