.chap1 {
    background-color:#9670E0
}
.chap2 {
    background-color:#FFE822
}
.chap3 {
    background-color:#ED9AB5
}
.chap4 {
    background-color:#A84349
}
.chap5 {
    background-color:#3F32A5
}
.chap6 {
    background-color:#9FF9AB
}
.chap7 {
    background-color:#C3C2C4
}

.chap8 {
    background-color:#9670E0
}
.chap9 {
    background-color:#50FEE4
}

.chap10 {
    background-color:#7AD1FF
}
.chap11 {
    background-color:#C3C2C4
}
.chap12 {
    background-color:#FFE822
}
.chap13 {
    background-color:#A84349
}
.chap14 {
    background-color:#ED9AB5
}
.chap15 {
    background-color:#9FF9AB
}
.chap16 {
    background-color:#3F32A5
}
.chap17 {
    background-color:#50FEE4
}
.chap18 {
    background-color:#7AD1FF
}
.chap19 {
    background-color:#FFAF57
}
.chap20 {
    background-color:#9670E0
}