[program:celery]
directory={{API.dir}}
command={{VENV_DIR}}/bin/celery -A API:celery worker --loglevel=INFO  -c 4
autostart=true
autorestart=true
stderr_logfile=/var/log/celery-{{API.name}}.err.log
stdout_logfile=/var/log/celery-{{API.name}}.out.log
redirect_stderr=true
